.container-1 {
  max-width: 1440px;
  padding: 0px 90px;
  margin: auto;
  margin-top: 138px;
  margin-bottom: 240px;
}
.container-1 .header-container-1 .title-container-1 {
  font-family: "Sora";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: -1.44px;
}
.container-1 .header-container-1 .title-container-1 .span-product-container-1 {
  color: #88888D;
}
.container-1 .header-container-1 .title-container-1 .span-dot-container-1 {
  color: #57EFB4;
  margin-left: 1px;
}
.container-1 .header-container-1 .about-container-1 {
  margin-top: 16px;
  color: #88888D;
  font-family: "Sora";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.container-1 .header-container-1 .btn-container-1 {
  margin-top: 32px;
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #006ADA;
  font-family: "DMSans-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.container-1 .cards-container-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
  flex-wrap: wrap;
}
.container-1 .cards-container-1 .card-container-1 {
  width: 402px;
  height: 204px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0);
  border-radius: 8px;
}
.container-1 .cards-container-1 .card-container-1 .cubik-card-container-1 {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 14px 14px 14px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Steel-Gray, #223);
}
.container-1 .cards-container-1 .card-container-1 .title-card-container-1 {
  margin-top: 24px;
  font-family: "Sora";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.container-1 .cards-container-1 .card-container-1 .about-card-container-1 {
  margin-top: 16px;
  color: var(--Aluminium, #88888D);
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.container-1 .cards-container-1 .light-card-container-1 {
  width: 386px;
  height: 204px;
  background-color: #223;
}
.container-1 .cards-container-1 .light-card-container-1 .cubik-card-container-1 {
  background: #57EFB4;
}
.container-1 .cards-container-1 .light-card-container-1 .about-card-container-1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #fff;
}

.container-3 {
  max-width: 1440px;
  padding: 0px 90px;
  margin: auto;
  margin-bottom: 120px;
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-3 .content-container-3 {
  max-width: 531px;
}
.container-3 .content-container-3 .title-container-3 {
  font-family: "Sora";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.container-3 .content-container-3 .about-container-3 {
  color: #88888D;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}
.container-3 .img-container-3 {
  width: 600px;
  height: 600px;
  background: url(../img/main/con3/img1.png);
}

.container-4 {
  max-width: 1440px;
  height: 970px;
  padding: 120px 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.container-4 .leftSide-container-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-4 .leftSide-container-4 .title-top-leftSide-container-4 {
  font-family: "Sora";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
  max-width: 646px;
}
.container-4 .leftSide-container-4 .about-top-leftSide-container-4 {
  max-width: 531px;
  color: #88888D;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}
.container-4 .leftSide-container-4 .bot-leftSide-container-4 {
  color: #88888D;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 422px;
}
.container-4 .rightSide-container-4 .card-container-4 {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 39px;
}
.container-4 .rightSide-container-4 .card-container-4 .img-container-4 {
  margin-right: 24px;
}
.container-4 .rightSide-container-4 .card-container-4 .content-container-4 {
  max-width: 330px;
}
.container-4 .rightSide-container-4 .card-container-4 .content-container-4 .about-card-container-4 {
  color: #88888D;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.container-4 .rightSide-container-4 .card-container-4 .content-container-4 .name-card-container-4 {
  font-family: "Sora";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 4px;
}
.container-4 .rightSide-container-4 .card-container-4 .content-container-4 .specialyty-card-container-4 {
  font-family: "Sora";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.container-4 .rightSide-container-4 .card-container-4-light {
  background-color: #223;
}

.container-5 {
  max-width: 1440px;
  padding: 120px 120px 120px 90px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-5 .leftSide-container-5 {
  max-width: 646px;
  font-family: "Sora";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.container-5 .rightSide-container-5 {
  display: flex;
}
.container-5 .rightSide-container-5 .left-persent-container-5 {
  max-width: 194px;
  margin-right: 32px;
}
.container-5 .rightSide-container-5 .right-persent-container-5 {
  max-width: 194px;
}
.container-5 .rightSide-container-5 .top-persent-container-5 {
  font-family: "Sora";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
  margin-bottom: 15px;
}
.container-5 .rightSide-container-5 .bot-persent-container-5 {
  color: #88888D;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container-6 {
  display: flex;
  max-width: 1440px;
  padding: 120px 90px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.container-6 .leftSide-container-6 {
  border-radius: 8px;
}
.container-6 .rightSide-container-6 {
  max-width: 531px;
}
.container-6 .rightSide-container-6 .title-container-6 {
  font-family: "Sora";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.container-6 .rightSide-container-6 .about-container-6 {
  color: #88888D;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}

@media (max-width: 1440px) {
  .container-1 {
    max-width: 1440px;
    padding: 0px 90px;
    margin: auto;
    margin-top: 122px;
    margin-bottom: 200px;
  }
  .container-1 .header-container-1 .title-container-1 {
    font-family: "Sora";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 100% */
    letter-spacing: -1.28px;
  }
  .container-1 .header-container-1 .title-container-1 .span-product-container-1 {
    color: #88888D;
  }
  .container-1 .header-container-1 .title-container-1 .span-dot-container-1 {
    color: #57EFB4;
    margin-left: 1px;
  }
  .container-1 .header-container-1 .about-container-1 {
    margin-top: 14px;
    color: #88888D;
    font-family: "Sora";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
  .container-1 .cards-container-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    flex-wrap: wrap;
  }
  .container-1 .cards-container-1 .light-card-container-1 {
    width: 386px;
    height: 204px;
    background-color: #223;
    order: 3;
    margin-top: 35px;
  }
  .container-3 {
    max-width: 1440px;
    padding: 0px 82px 0 90px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container-3 .content-container-3 {
    max-width: 387px;
  }
  .container-3 .img-container-3 {
    width: 400px;
    height: 500px;
    background: url(../img/main/con3/1024img.png);
  }
  .container-4 {
    max-width: 1440px;
    height: 930px;
    padding: 100px 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .container-4 .leftSide-container-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container-4 .leftSide-container-4 .title-top-leftSide-container-4 {
    font-family: "Sora";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
    max-width: 333px;
  }
  .container-4 .leftSide-container-4 .about-top-leftSide-container-4 {
    max-width: 333px;
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
  .container-4 .leftSide-container-4 .bot-leftSide-container-4 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 333px;
  }
  .container-5 {
    max-width: 1440px;
    padding: 101px 90px 100px 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-5 .leftSide-container-5 {
    width: 644px;
    font-family: "Sora";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
  .container-5 .rightSide-container-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  .container-5 .rightSide-container-5 .left-persent-container-5 {
    width: 194px;
    margin-right: 0px;
    margin-bottom: 36px;
  }
  .container-5 .rightSide-container-5 .right-persent-container-5 {
    width: 194px;
  }
  .container-5 .rightSide-container-5 .top-persent-container-5 {
    font-family: "Sora";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin-bottom: 15px;
  }
  .container-5 .rightSide-container-5 .bot-persent-container-5 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .container-6 {
    display: flex;
    max-width: 1440px;
    padding: 100px 90px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .container-6 .leftSide-container-6 {
    border-radius: 8px;
    width: 400px;
    height: 500px;
    background: url(../img/main/con6/1024img.png);
  }
  .container-6 .leftSide-container-6 img {
    display: none;
  }
  .container-6 .rightSide-container-6 {
    max-width: 358px;
  }
  .container-6 .rightSide-container-6 .title-container-6 {
    font-family: "Sora";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.96px;
  }
  .container-6 .rightSide-container-6 .about-container-6 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
}
@media (max-width: 870px) {
  .container-1 {
    max-width: 1440px;
    padding: 0px 38px;
    margin: auto;
    margin-top: 116px;
    margin-bottom: 90px;
  }
  .container-1 .header-container-1 .title-container-1 {
    font-family: "Sora";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
  }
  .container-1 .header-container-1 .title-container-1 .span-product-container-1 {
    color: #88888D;
  }
  .container-1 .header-container-1 .title-container-1 .span-dot-container-1 {
    color: #57EFB4;
    margin-left: 1px;
  }
  .container-1 .header-container-1 .about-container-1 {
    margin-top: 15px;
    color: #88888D;
    font-family: "Sora";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }
  .container-1 .header-container-1 .btn-container-1 {
    margin-top: 32px;
    padding: 14px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #006ADA;
    font-family: "DMSans-Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    width: 100%;
  }
  .container-1 .cards-container-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
  }
  .container-1 .cards-container-1 .light-card-container-1 {
    width: 386px;
    height: 204px;
    background-color: #223;
    order: 0;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .container-1 .cards-container-1 .card-container-1 {
    width: 402px;
    height: 204px;
    padding-right: 15px;
  }
  .container-3 {
    max-width: 1440px;
    padding: 0px 38px 0 38px;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-3 .content-container-3 {
    max-width: 350px;
  }
  .container-3 .content-container-3 .title-container-3 {
    max-width: 300px;
    font-family: "Sora";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
  .container-3 .content-container-3 .about-container-3 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
  .container-3 .img-container-3 {
    margin-top: 48px;
    width: 350px;
    height: 400px;
    background: url(../img/main/con3/425img.png);
  }
  .container-4 {
    max-width: 1440px;
    height: auto;
    padding: 45px 38px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container-4 .leftSide-container-4 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 60px;
  }
  .container-4 .leftSide-container-4 .title-top-leftSide-container-4 {
    font-family: "Sora";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
    width: auto;
  }
  .container-4 .leftSide-container-4 .about-top-leftSide-container-4 {
    max-width: 531px;
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
  .container-4 .leftSide-container-4 .bot-leftSide-container-4 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 422px;
    margin-top: 48px;
  }
  .container-4 .rightSide-container-4 {
    margin: auto;
  }
  .container-4 .rightSide-container-4 .card-container-4 {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .container-4 .rightSide-container-4 .card-container-4 .img-container-4 {
    margin-right: 24px;
  }
  .container-4 .rightSide-container-4 .card-container-4 .content-container-4 {
    max-width: 330px;
  }
  .container-4 .rightSide-container-4 .card-container-4 .content-container-4 .about-card-container-4 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    width: 242px;
  }
  .container-4 .rightSide-container-4 .card-container-4 .content-container-4 .name-card-container-4 {
    font-family: "Sora";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 4px;
    white-space: nowrap;
  }
  .container-4 .rightSide-container-4 .card-container-4 .content-container-4 .specialyty-card-container-4 {
    font-family: "Sora";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .container-4 .rightSide-container-4 .card-container-4-light {
    background-color: #223;
  }
  .container-5 {
    max-width: 1440px;
    padding: 30px 38px 45px 38px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
  .container-5 .leftSide-container-5 {
    max-width: 646px;
    font-family: "Sora";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
  .container-5 .rightSide-container-5 {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
  }
  .container-5 .rightSide-container-5 .left-persent-container-5 {
    max-width: 342px;
    margin-right: 0px;
    width: auto;
  }
  .container-5 .rightSide-container-5 .right-persent-container-5 {
    max-width: 342px;
    width: auto;
  }
  .container-5 .rightSide-container-5 .top-persent-container-5 {
    font-family: "Sora";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
    margin-bottom: 15px;
  }
  .container-5 .rightSide-container-5 .bot-persent-container-5 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .container-6 {
    display: flex;
    max-width: 1440px;
    padding: 45px 38px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: auto;
  }
  .container-6 .leftSide-container-6 {
    border-radius: 8px;
    width: 350px;
    height: 400px;
    background: url(../img/main/con6/425img.png);
  }
  .container-6 .leftSide-container-6 img {
    display: none;
  }
  .container-6 .rightSide-container-6 {
    max-width: 358px;
    margin-top: 60px;
  }
  .container-6 .rightSide-container-6 .title-container-6 {
    font-family: "Sora";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
  .container-6 .rightSide-container-6 .about-container-6 {
    color: #88888D;
    font-family: "Sora";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }
}